# Folder for binary files
bin/

#Folder with data and results
data/
results/

#Local programs
local/

#archivos auxiliares del informe
informe/*.aux
informe/*.bbl
informe/*.blg
informe/*.fgb_latexmk
informe/*.fls
informe/*.log
informe/*.out
informe/*.synctex.gzI