# Folder for binary files
bin/

#Folder with data and results
data/
results/

#Local programs
local/

#archivos auxiliares del informe
Informe/*.aux
Informe/*.bbl
Informe/*.blg
Informe/*.fdb_latexmk
Informe/*.fls
Informe/*.log
Informe/*.out
Informe/*.synctex.gz
Informe/*.pdf

#archivos auxiliares del informe
Poster/*.aux
Poster/*.bbl
Poster/*.blg
Poster/*.fdb_latexmk
Poster/*.fls
Poster/*.log
Poster/*.out
Poster/*.synctex.gz
Poster/figures/*.psd

#Gnuplot
fit.log

