# Folder for binary files
bin/

#Folder with data and results
data/
results/

#Local programs
local/

#archivos auxiliares del informe
Informe/*.aux
Informe/*.bbl
Informe/*.blg
Informe/*.fdb_latexmk
Informe/*.fls
Informe/*.log
Informe/*.out
Informe/*.synctex.gz